.name-title {
  width: 1.6rem;
}
.new_addresses .order.comment input,
.order.comment select {
  width: 4.6rem;
  height: 0.6rem;
  margin-left: 0.3rem;
  background-color: #3d3b3a;
  border: none;
  border: 1px solid #808080;
  /* border-radius: 5%; */
  color: #fff;
  -webkit-appearance: none;
}
.address_edit .order.comment input,
.order.comment select {
  width: 4.6rem;
  height: 0.6rem;
  margin-left: 0.3rem;
  background-color: #3d3b3a;
  border: none;
  border: 1px solid #808080;
  /* border-radius: 5%; */
  color: #fff;
  -webkit-appearance: none;
}
