html,
body {
  font-size: 100px;
  margin: 0;
  height: 100%;
  padding: 0;
  line-height: 1;
/*  background: url('/static/img/background.png');*/
  background-repeat: repeat-y;
  font-family: "微软雅黑";
}
.weui_btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 2.33333333;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.weui_btn.weui_btn_mini {
  line-height: 1.9;
  font-size: 14px;
  padding: 0 .75em;
  display: inline-block;
}
.weui_btn_plain_primary {
  color: #04be02;
  border: 1px solid #04be02;
}
p {
  margin: 0;
  padding: 0;
}
.short_area {
  height: 0.6rem;
  border-bottom: none;
}
h1 {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.36rem;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1.2rem;
  overflow-y: scroll;
  width: 100%;
}
.main.pre_index .main-body {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.productTitle {
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  color: #8b8a8a;
  background-color: #000;
  font-size: 0.24rem;
  text-align: center;
}
.sub_wrapper {
  overflow: hidden;
  margin-top: 0.1rem;
}
.productTitle .title {
  font-size: 0.36rem;
  text-align: center;
  color: #eaa502;
}
.productTitle .subheading {
  font-weight: 400;
  font-size: 0.24rem;
  float: left;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  letter-spacing: 0.5px;
  color: #8b8a8a;
}
.in.left {
  float: left;
}
.in.left span {
  float: left;
  display: inline-block;
  vertical-align: middle;
}
.in.right {
  float: right;
}
.in.right span {
  float: right;
  display: inline-block;
  vertical-align: middle;
}
.in.left .bracket {
  padding-right: 0.1rem;
  background: url("/static/img/left.png");
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.in.right .bracket {
  padding-left: 0.1rem;
  background: url("/static/img/right.png");
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.in .line {
  display: inline-block;
  vertical-align: middle;
  height: 0.02rem;
  background-color: #fff;
  margin-top: 0.11rem;
}
/*title end*/
/* product image  start */
.main-body .productImg {
  margin-bottom: -0.2rem;
}
.main-body .productImg img {
  width: 6.6rem;
  height: 4.18rem;
}
/* product image  end */
.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.product-info {
  font-size: 16px;
  width: 6.6rem;
  height: 1.6rem;
  background-color: #ffb400;
  padding-top: 0.2rem;
  box-sizing: border-box;
}
/* product-info-title begin */
.product-info-title {
  position: relative;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.product-info-title div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.product-info-title div.line {
  height: 0.56rem;
  width: 0.06rem;
  background-color: #17383b;
  margin-right: 0.12rem;
}
.product-info-title div.line:before {
  content: ".";
  visibility: hidden;
  height: 100%;
}
.product-info-count .total_count {
  font-size: 0.3rem;
  color: #000;
}
.product-info-count .min_count {
  margin-top: 0.06rem;
  font-size: 0.24rem;
  color: #000;
}
.product-info-title .product-info-price {
  position: absolute;
  right: 0.2rem;
}
.product-info-price span {
  display: inline;
  /*vertical-align: sub;*/
}
.product-info-price .unit {
  font-size: 0.36rem;
  color: #fff;
}
.product-info-price .price {
  font-size: 0.72rem;
  color: #fff;
}
/* product-info-title end */
/* progress start */
.product-info-progress {
  margin-top: 0.25rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.product-info-progress > div {
  display: inline-block;
}
.progress-wrapper {
  height: 0.1rem;
  width: 4.8rem;
  border: 1px solid #000;
  border-radius: 0.1rem;
}
.progress-wrapper.progress_highlight {
  border: 1px solid #ffb400;
}
.progress-inner {
  width: 68%;
  height: 100%;
  background-color: #000;
  border-radius: 0.1rem;
}
.progress-inner.progress_highlight {
  background-color: #ffb400;
}
.progress-text {
  width: 1.1rem;
  text-align: right;
  margin-left: 0.1rem;
  height: 100%;
  font-size: 0.2rem;
  color: #fff;
}
.progress-text.progress_highlight {
  color: #ffb400;
}
/* progress end */
/*product_company-start*/
.area {
  height: 0.98rem;
  background-color: rgba(50, 48, 48, 0.7);
  position: relative;
  border-bottom: 2px solid #1b1919;
}
.product_company div {
  display: inline-block;
  vertical-align: middle;
}
.product_company .logo {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  margin-right: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  /*background: url('logo.png');

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;*/
}
.product_company .logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
}
.main.pre_index .product_company .company_text {
  font-size: 0.26rem;
  color: #fff;
  position: absolute;
  left: 1rem;
  height: 0.98rem;
  line-height: 0.98rem;
}
.arrow {
  position: absolute;
  right: 0.3rem;
  height: 0.98rem;
  width: 0.2rem;
  background: url('/static/img/arrow.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.product_company .instruction {
  position: absolute;
  right: 0.6rem;
  height: 0.98rem;
  line-height: 0.98rem;
  font-size: 0.2rem;
  color: #5c5b5c;
}
/*product_company-end*/
/* pre rule start */
/*.pre_rule {
  height: 0.98rem;
  background-color: #323030;
  position: relative;
  border-bottom: 2px solid #1b1919;
}*/
.pre_rule div {
  display: inline-block;
  vertical-align: top;
}
.splitbar {
  padding-left: 0.2rem;
  font-size: 0.26rem;
  color: #fff;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.28rem;
  margin-left: 0.2rem;
  border-left: 0.08rem solid #ffb400;
}
.recomand {
  height: 0.6rem;
  border-bottom: none;
}
.recomand div {
  display: inline-block;
  vertical-align: top;
}
.recomand .splitbar {
  margin-top: 0.13rem;
  height: 0.36rem;
  line-height: 0.36rem;
}
/* pre rule end */
.recomand_item {
  position: relative;
  box-sizing: border-box;
  padding-top: 0.19rem;
  padding-bottom: 0.19rem;
  padding-left: 1rem;
  height: 0.98rem;
  background-color: rgba(50, 48, 48, 0.4);
  /*background: url('user1.png');
  background-position: 0.2rem center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #323030;*/
}
.recomand_item .img {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  top: 0.2rem;
  left: 0.2rem;
  text-align: center;
}
.recomand_item .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.recomand_item div {
  display: inline-block;
  vertical-align: top;
}
.user_context {
  font-size: 0.24rem;
  color: #fff;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user_context .small {
  width: 5rem;
  margin-top: 0.12rem;
  font-size: 0.18rem;
  color: #fff;
}
/*商品信息*/
.company-info {
  background-color: #323030;
}
.company-info .title {
  padding-top: 0.3rem;
  height: 0.6rem;
  /*padding-top: 0.3rem;*/
}
.company-info .title .splitbar {
  margin-top: 0;
}
.footer {
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.18rem;
  background-color: #1b1615;
  padding-top: 0.05rem;
}
.footer .haha,
.footer .buttonArea {
  display: inline-block;
}
.footer .haha {
  position: absolute;
  top: 50%;
  background: url('/static/img/u215.png');
  width: 25%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  height: 0.5rem;
  width: 0.5rem;
  left: 0.5rem;
}
.footer .haha .tip {
  position: absolute;
  width: 0.34rem;
  height: 0.34rem;
  background-color: red;
  border-radius: 50%;
  left: 15px;
  color: #fff;
  font-size: 0.2rem;
  text-align: center;
  top: -1px;
}
.footer .buttonArea {
  /*box-sizing: border-box;
  position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
}
.footer .buttonArea .weui_btn_mini {
  /*line-height: 1.8;*/
  width: 2.4rem;
  height: 0.72rem;
  line-height: 0.72rem;
  margin: 0;
  margin-right: 0.1rem;
}
.weui_btn_mini.purchase_to_order {
  background-color: #ffb400;
  color: #000;
  border: none;
}
.weui_btn_mini.add_to_cart {
  border: 1px solid #ffb400;
  color: #ffb400;
}
.short_area {
  height: 0.6rem;
  border-bottom: none;
}
.short_area div {
  display: inline-block;
  vertical-align: top;
}
.short_area .splitbar {
  margin-top: 0.13rem;
  height: 0.36rem;
  line-height: 0.36rem;
}
.context_wrapper {
  /*min-height: 0.98rem;*/
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: table;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.context_inner {
  font-size: 0.18rem;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  line-height: 1.4;
}
.header-bar {
  font-size: 0.36rem;
  background-color: #ffb400;
  color: #fff;
  height: 0.96rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  line-height: 0.96rem;
}
.header_inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*text-align: center;*/
}
.header-bar div {
  /*vertical-align: middle;
  display: inline-block;*/
}
.header-bar div.back {
  float: left;
}
.header-bar div.back img {
  vertical-align: middle;
}
.header-bar div.function {
  height: 0.96rem;
  line-height: 0.96rem;
  float: right;
}
.header-bar div.title {
  overflow: hidden;
  text-align: center;
}
.tab-content {
  display: none;
}
.tab-content:nth-child(1) {
  display: block;
}
